* {
    box-sizing: border-box;
}

body {
    font-size: 30px;
    font-family: georgia;
}

.container {
    max-width: 500px;
    margin: 20px auto;
    overflow: hidden;
}

.input {
    display: flex;
    align-items: center;
}

.input input {
    flex-grow: 1;
    font-size: 30px;
    font-family: georgia;
}

.input button {
    font-family: georgia;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0px solid #000;
    padding: 0;
    margin-left: 8px;
    display: block;
    transition: background-color .4s;
    background-color: #ccc;
    line-height: 50px;
    text-align: center;
}

.input button:hover {
    background-color: #ddd;
}

ul {
    padding: 20px;
    margin: 0;
    max-width: 450px;
    border: 1px solid #000;
}

li {
    border-bottom: 1px solid #000;
    list-style-type: none;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: georgia;
    font-size: 30px;
}

form input {
    font-size: 30px;
    font-family: georgia;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

li p {
    margin-top: 20px;
    margin-bottom: 20px;
}

li div {
    display: flex;
}

li button {
    display: block;
    margin: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-family: georgia;
    font-size: 20px;
    padding: 10px;
}